@import url('https://fonts.googleapis.com/css?family=Sacramento');

#letter {
  /*display:none;*/
  margin-top: 30px;
  font-family: 'Sacramento', cursive;
  font-size: 30px;
  background-image: url("../images/parchment2.jpg");
  border-radius: 5px;
  padding: 30px;
}

body {
  background-color: #F8EDD1;
}
